---
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
---

<Container class="mt-10 border-t border-gray-100 dark:border-gray-800">
  <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      El Rincón del cafe {new Date().getFullYear()} 
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600">
   
        <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
     

    </div>
    <div class="flex items-center justify-between mt-2">
      <Themeswitch />
    </div>
  </footer>
</Container>
