---
import Map from "./Map.astro";

---

<section
  id="map"
  class="h-fit mb-36 min-h-[20rem] max-w-[55rem] mx-auto flex justify-center relative px-6"
>
  <div >
    <div  >
     
   <h1 class="font-bold">
       Nuestra ubicación
    </h1>
    </div>
    <div class="py-10">
    <Map />
</div>
  </div>

</section>